@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Comfortaa');
.container-fluid {
    position: relative;
    width:100%;
    height:100%;
}
.landing-page {
    background-image:url('../img/Pizza-Image-1.jpg');
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: 1600px 500px;
    width: 100%;
    height:500px;
}
.landing-page h1 {
    font-size:60px;
    font-family: 'Comfortaa';
}
.landing-page p {
    font-size: 40px;
    font-family:'Indie Flower';
}
.about-us {
    background-image:url('../img/pure-black-background-f82588d3.jpg');
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 1600px 500px;
    background-position-x: center;
    font-family: 'Indie Flower';
    width: 100%;
    height: 50%;
    margin-top: 2px;
}
.about-us h2 {
    font-size:50px;
    font-weight: bold;
}
.about-us p {
    font-size:20px;
}
.Rollers-Hub{
    margin-top: 0px;
}
#Roller{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:8%;
    margin-right: 6%; 
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
}
.Rollers-Hub h2{
    text-align: center;
    padding-top:10px;
    font-family: 'Gabriela', serif;
}
.Form {
    background-image:url('../img/pure-black-background-f82588d3.jpg');
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: 1600px 1000px;
    background-position-x: center;
    font-family: 'Comfortaa';
    color: white;
}
.checkboxes p {
    font-size: 40px;
}
input[type="checkbox"] {
    display:inline;
    max-width:30px;
    max-height:10px;
}
.button {
    padding: .7em 1.1em;
    color: white; 
    background-color: blue;
}
.footer {
    text-align: center;
    font-family:bold;
}
